<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <%include public/header.ejs%> <%-content%> 这是ejs模板引擎 <%=title%> <%if(num>100){%> 大于100 <%}else{%> 小于100
    <%}%> <%=userInfo%>
  </body>
</html>
